@model OnlineCatering.Models.SupplierOrder

@{
    ViewData["Title"] = "AddSupplierOrder";
}

<h1>AddSupplierOrder</h1>

<h4>SupplierOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSupplierOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" type="date" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedAmount" class="control-label"></label>
                <input asp-for="EstimatedAmount" class="form-control" />
                <span asp-validation-for="EstimatedAmount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InvoiceDone" /> @Html.DisplayNameFor(model => model.InvoiceDone)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListSupplierOrder">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
