@model OnlineCatering.Models.MenuCategory

@{
    ViewData["Title"] = "Detail_MenuCategory";
}

<h1>Detail_MenuCategory</h1>

<div>
    <h4>MenuCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit_MenuCategory" asp-route-id="@Model?.CategoryId">Edit</a> |
    <a asp-action="Menu_Categories">Back to List</a>
</div>
